<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- title上面加圖片 -->
    <link rel="Shortcut Icon" type="image/x-icon" href="cathay.ico">
    <title>Cathay Domestic Equity Team</title>

    <!-- Bootstrap core CSS -->
    <!-- keep failed -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/dashboard/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/style.css?q=1280549780"   type="text/css" media="screen" charset="utf-8" />

  </head>

  <body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Apple Delivery</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/?Product=IphoneXr">IphoneXr</a></li>
            <li><a href="/?Product=IphoneXs-Max">IphoneXs-Max</a></li>
            <li><a href="/?Product=IphoneXs">IphoneXs</a></li>
            <li><a href="/?Product=Iphone8-plus">Iphone8-plus</a></li>
            <li><a href="/?Product=Iphone8">Iphone8</a></li>
            <!-- <li><a href="#">Iphone3</a></li> -->
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-md-2 sidebar">

          <ul class="nav nav-sidebar">
            <li class={{'active' if Title == 'Overview' else ''}}><a href="/?Product=IphoneXs">Overview </a></li>
            <li class={{'active' if Country == 'Us' else ''}}>
              <a href="/?Country=Us&Product=IphoneXs"><img src="united_states.png">America</a></li>
            <li class={{'active' if Country == 'Cn' else ''}}>
              <a href="/?Country=Cn&Product=IphoneXs"><img src="china.png">China</a></li>
            <li class={{'active' if Country == 'Hk' else ''}}>
              <a href="/?Country=Hk&Product=IphoneXs"><img src="hong_kong.png">Hong Kong</a></li>
            <li class={{'active' if Country == 'Tw' else ''}}>
              <a href="/?Country=Tw&Product=IphoneXs"><img src="taiwan.png">Taiwan</a></li>
            <li class={{'active' if Country == 'Jp' else ''}}>
              <a href="/?Country=Jp&Product=IphoneXs"><img src="japan.png">Japan</a></li>
            <li class={{'active' if Country == 'Uk' else ''}}>
              <a href="/?Country=Uk&Product=IphoneXs"><img src="united_kingdom.png">United Kingdom</a></li>
            <li class={{'active' if Country == 'De' else ''}}>
              <a href="/?Country=De&Product=IphoneXs"><img src="germany.png">German</a></li>
            <li class={{'active' if Country == 'Fr' else ''}}>
              <a href="/?Country=Fr&Product=IphoneXs"><img src="france.png">Franch</a></li>
            <li class={{'active' if Country == 'Sg' else ''}}>
              <a href="/?Country=Sg&Product=IphoneXs"><img src="singapore.png">Singapore</a></li>
            <li class={{'active' if Country == 'Ru' else ''}}>
              <a href="/?Country=Ru&Product=IphoneXs"><img src="russia.png">Russin</a></li>
          </ul>

        </div>

          <div class="col-sm-10 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row placeholders">

               <!-- New header -->
                <header id="header">
                  <div class="container">
                    <div class="row">
                      <div align="left" class="col-md-10">
                        <h1><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>{{Product}}  <small>{{Title}}</small></h1>
                      </div>
                      <div class="col-md-2">
                        <a class="btn btn-default" href="Data.csv" role="button">Download CSV</a>
                      </div>
                    </div>
                  </div>
                </header>
                <!-- New header -->

              <div class="table-responsive">
                
                {{table|safe}}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>


    </script>

  </body>
</html>
